.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid #2c3434;
    border-right: 1px solid #2c3434;
    padding: 10px;
    height: 100vh;
}

.container h2 {
    margin: 20px;
}

.username {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.createTweetWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tweetArea {
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
}