.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid #2c3434;
    border-right: 1px solid #2c3434;
    padding: 10px;
    height: 100vh;
}

.container h2 {
    margin: 20px;
}

.followContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 65%;
    margin: 20px;
}