.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid #2c3434;
    border-right: 1px solid #2c3434;
    min-height: 100vh;
  }
  
  .tab {
    margin-top: 10px;
    padding: 11px 0 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
    color: var(--twitter);
    border-bottom: 2px solid var(--twitter);
  }
  
  .tab:hover {
    background: var(--twitter-dark-hover);
  }
  
  .tweets {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  