.signup_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup_box {
    width: 35vw;
    max-width: 430px;
    height: 350px;
    background-color: #1b1b1b;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 20px;
  }
  
  .signup_text {
    font-size: 35px;
    margin-bottom: 30px;
    color: #209cf4;
  }
  
  .input_field {
    font-size: 18px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    box-shadow: none;
    width: 90%;
    margin: 8px;
  }
  
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .signup_button {
    width: 50%;
    padding: 8px;
    font-size: 18px;
    border: none;
    background-color: #209cf4;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .signup_button:hover {
    background-color: #0093fc;
  }
  
  .signin_redirect_wrapper {
    margin-top: 15px;
  }
  
  @media only screen and (max-width: 1080px) {
    .signup_box {
      width: 50vw;
    }
  
    .signup_text {
      font-size: 28px;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .signup_box {
      width: 70vw;
    }
  
    .signup_text {
      font-size: 25px;
    }
  
    .input_field {
      font-size: 16px;
    }
  }